.button:hover {opacity: 1}
.button {
  position: absolute;
  right: 50px;
  border-radius: 6px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
  background-color: red;
  color: white;
}
.saveTopRight {
  right: 15%;
  top: 10%;
}
.saveTopLeft {
  left: 15%;
  top: 10%;
}
.saveBottomLeft {
  left: 15%;
  bottom: 40%;
}
.saveBottomRight {
  right: 15%;
  bottom: 40%;
}
.saveFiveHole {
  left: 45%;
  bottom: 50%; 
}
.goalTopRight{
  right: 15%;
  top:19%;
}
.goalTopLeft{
  left: 15%;
  top: 19%;
}
.goalBottomLeft{
  left: 15%;
  bottom: 31%;
}
.goalBottomRight{
  right: 15%;
  bottom: 31%;
}
.goalFiveHole{
  left: 45%;
  bottom: 41%;
}
.statsTopRight{
  right: 12%;
  top: 28%;
}
.statsTopLeft{
  left: 13%;
  top: 28%;
}
.statsBottomLeft{
  left: 5%;
  Bottom: 22%;
}
.statsBottomRight{
  right: 5%;
  bottom: 22%;
}
.statsFiveHole{
  left: 42%;
  bottom: 32%;
}
.overallStats{
  top: 8%;
  left: 47%;
}
.topRight{
  position: absolute;
  left: 65%;
  top: 30%;
}
.topLeft{
  position: absolute;
  top: 30%;
}
.bottomRight{
  position: absolute;
  left: 65%;
  top: 80%;
}
.bottomLeft{
  position: absolute;
  top: 80%;
}
.fiveHole{
  position: absolute;
  left: 30%;
  bottom: 20%;

}
.overall{
  position: absolute;
  left: 30%;
  top: 15%;
}

